
.div1
{
    width: 100px;
    height: 70px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    animation-name: test1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes test1 {
    0%{background-color:blue;left: 0px;}
    35%{background-color:green;left: 400px;}
    70%{background-color:yellow;left: 800px;}
    100%{background-color: rgb(241, 115, 12);left: 1200px;}
}

.div2
{
    width: 100px;
    height: 70px;
    background-color:red;
    border-radius: 5px;
    position: absolute;
    float: right;
    margin-top: 100px;
    animation-name: test2;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    /* animation-direction: reverse; */
}
@keyframes test2 {
    0%{background-color:red;left: 1200px;}
    35%{background-color:yellow;left: 800px;}
    70%{background-color:green;left: 400px;}
    100%{background-color:blue;left: 0px;}
}


.div3
{
    width: 100px;
    height: 70px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    margin-top: 200px;
    animation-name: test3;
    animation-duration: 4s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}
@keyframes test3 {
    0%{background-color:blue;left: 0px;}
    35%{background-color:green;left: 400px;}
    70%{background-color:yellow;left: 800px;}
    100%{background-color: aqua;left: 1200px;}
}


.div4
{
    width: 100px;
    height: 70px;
    background-color:red;
    border-radius: 5px;
    position: absolute;
    float: right;
    margin-top: 300px;
    animation-name: test4;
    animation-duration: 4s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
    /* animation-direction: reverse; */
}
@keyframes test4 {
    0%{background-color:red;left: 1200px;}
    35%{background-color:yellow;left: 800px;}
    70%{background-color:green;left: 400px;}
    100%{background-color:blue;left: 0px;}
}



.div5
{
    width: 100px;
    height: 70px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    margin-top: 400px;
    animation-name: test5;
    animation-duration: 4s;
    animation-delay: 16s;
    animation-fill-mode: forwards;
}
@keyframes test5 {
    0%{background-color:blue;left: 0px;}
    35%{background-color:green;left: 400px;}
    70%{background-color:yellow;left: 800px;}
    100%{background-color:rgb(223, 92, 223) ;left: 1200px;}
}


.div6
{
    width: 100px;
    height: 70px;
    background-color:red;
    border-radius: 5px;
    position: absolute;
    float: right;
    margin-top: 500px;
    animation-name: test6;
    animation-duration: 4s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
    /* animation-direction: reverse; */
}
@keyframes test6 {
    0%{background-color:rgb(223, 92, 223);left: 1200px;}
    35%{background-color:yellow;left: 800px;}
    70%{background-color:green;left: 400px;}
    100%{background-color:blue;left: 0px;}
} 